<div class="signUpPage">
    <div class="signUpForm">
        <div class="signUp">
            <div class="d-flex">
                <div>
                    <img src="../../../assets/images/arrowBack.png" width="20" height="15" />
                </div>
                <div class="SignUpLogo">
                    <div class="wapp">
                        <div class="text">Sign Up Now</div>
                    </div>
                </div>
                <div class="trailText">
                    To Start Your Free Sales Trial
                </div>
            </div>
            <app-input [formData]="data" [buttonText]="buttonText" (inputData)="formInput($event)"></app-input>
        </div>
    </div>
</div>